{% extends "base.html" %}
{% load static %}
{% block title %}The email was successfully sent to your email address{% endblock %}
{% block static %}
    <link rel="stylesheet" href="{% static '/pages/index.css' %}">
{% endblock %}

{% block content %}
{% include 'nav.html' %}
<main class="main container">
    <div class="custom-center-block">
            <p class="custom-text-block">The email was successfully sent to your email address</p>
        <form action="{% url 'index' %}">
            <div class="custom-button-block">
                <button type="submit" class="button button_style_blue">Go to the main page</button>
            </div>
        </form>
    </div>
</main>
{% include 'footer.html' %}
{% endblock %}