{% extends "base.html" %}
{% load static %}
{% load user_filters %}
{% block title %}Your password has been successfully changed{% endblock %}
{% block static %}
    <link rel="stylesheet" href="{% static '/pages/index.css' %}">
{% endblock %}

{% block content %}
{% include 'nav.html' %}
<main class="main container">
    <div class="custom-center-block">
        <p class="custom-text-block"><h1 class="main__title">Your password has been successfully changed</h1></p>
        <p></p>
        <div class="custom-button-block">
            <form action="{% url 'index' %}">
                <button class="button button_style_blue">Go to the main page</button>
            </form>
        </div>
    </div>
</main>
{% include 'footer.html' %}
{% endblock %}